*.pyc
*.swp
*.log
__pycache__
.ipynb_checkpoints
convictions/settings/dev.py
convictions.sqlite3
data/ACS_10_5YR_B01003_with_ann*.csv
data/ACS_10_5YR_B19301_with_ann*.csv
data/CensusTracts2010/
data/Comm_20Areas/
data/Criminal_Convictions_ALLCOOK_05-09.csv
data/Municipality/
data/tl_2010_17_place10/
data/gz_2010_17_160_00_500k/
data/gz_2010_us_050_00_500k/
data/tl_2010_17_county10/
export/
